* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    background-image: url("../images/pattern.jpeg");
    color: khaki;
    padding: 150px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brush {
  background-color: MediumSpringGreen;
}

#frame {
  background-color: LightCoral;
}

#paint {
  background-color: SkyBlue;
}

.item span {
    color: blue;
    font-weight: bold;
}

.item {
    padding: 40px;
}